
/*Css menu*/
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}


header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000; /* Asegura que el menú esté sobre otros elementos */
    background-color: white; /* Puedes ajustarlo según el diseño */
}

body {
    margin-top: 80px; /* Ajusta este valor según la altura del menú */
}


body{
    font-family: Arial, Helvetica, sans-serif;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
}
/* color para el menu */
.content{
    min-height: 80px;
    background-color: rgb(255, 255, 255);
}



.menu{
    position: absolute;
    top: 10px;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between; 

}

.logo{
    font-size: 25px10;
    color: #ffffff; 
    text-transform: uppercase;
    font-weight: bold;
    
    
}

.menu .navbar ul li{
    position: relative;
    float: left;
}

.menu .navbar ul li{
    font-size: 18px;
    padding: 20px;
    color:#DEDEDE;
    display: block;
    font-weight: bold;
}

.menu .navbar ul li{
    color: rgb(165, 36, 36);
}

/*parte anais*/


/* Estilos generales para las tarjetas */
.profile-card, .consultation-card {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 20px auto;
    width: 90%;
    max-width: 800px;
  }
  
  /* Estilos de la tarjeta de perfil */
  .profile-header {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
  }
  
  .profile-image {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    margin-right: 20px;
  }
  
  .profile-info h2 {
    font-size: 22px;
    margin: 0;
    color: #333;
  }
  
  .profile-info p {
    margin: 5px 0;
    color: #666;
  }
  
  .profile-description {
    color: #666;
    margin-top: 10px;
  }
  

  
  /* Estilos de la tarjeta de motivos de consulta */
  .consultation-card h3 {
    font-size: 20px;
    margin-bottom: 15px;
    color: #333;
  }
  
  .consultation-list {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
  }
  
  .consultation-item {
    flex: 1 1 45%;
    color: #555;
    padding: 5px;
    display: flex;
    align-items: center;
    font-size: 14px;
  }
  
  .consultation-item::before {
    content: "➔";
    color: #4A90E2;
    margin-right: 8px;
  }
  
  .return-button {
    background-color: #fff;
    color: #4A90E2;
    border: 1px solid #4A90E2;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
    display: inline-block;
  }
  
  .return-button:hover {
    background-color: #4A90E2;
    color: #fff;
  }
  





































/* css footer*/
.footer {
    background-color: #5d5c77;
    color: #fff;
    text-align: center;
    padding: 20px;
    position: relative;
    bottom: 0;
    width: 100%;
}
